.imgwrapper{
  width: 100%;
}
.trump{
  width: 100vw;
}
.situation{
  margin-top: 3em;
  text-align: center;
}
.task{
  margin-top: 3em;
  text-align: center;
}
#img{
  margin: 0 auto !important;
}
.task{
  text-align: center;
}
